{{define "chat" }}
    <div class="flex-1 flex flex-col">
        {{if gt (len .PageData.TargetUser)  0}}
            <div class="border-b py-8 px-4 flex items-center h-fit">
                Chatting with {{.PageData.TargetUser}}
            </div>

            <div class="bg-black p-6 grid gap-6 self-end w-full">
                <div id="messages" class="grid gap-6 w-full">
                    {{range .PageData.Messages}}
                        {{template "message" .}}
                    {{end}}
                </div>
                {{template "form" .FormData}}
            </div>
        {{end}}
    </div>

    <script>
        // parse the raw string passed by the server into a map
        const parseMap = (str) => {
            const map = new Map();
            // our format is user1,user2:websocket key, and then we have a space between each pair of users and their key

            // removes 'map[' and the ']' at the end then splits by space to get the pairs
            const pairs = str.slice(4, str.length - 1).split(" ");

            pairs.map((pair)=>{
                // temp array makes it easy to extract the data
                const tempArr = pair.split(",")
                // user 1 is easily parsed
                const user1 = tempArr[0]
                // user 2 and key require further splitting as they are separated by a colon
                const user2 = tempArr[1].split(":")[0]
                const websocketkey = tempArr[1].split(":")[1]
                // sort the users so that the key is always the same
                const mapKey = Array.from([user1, user2]).sort().join(",");
                map.set(mapKey, websocketkey);
            })

            return map;
        };

        const createWebSocket = (url, chattingWith) =>{
            const ws = new WebSocket(url);
            ws.onopen = () => console.log("WebSocket connection established");
            ws.onclose = () => console.log("WebSocket connection closed");
            ws.onerror = (error) => console.log("WebSocket error:", error);
            ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            if (data.sender === chattingWith) {
                const messages = document.getElementById("messages");
                const message = document.createElement("div");
                message.innerHTML = `            
                    <div class="flex gap-4 items-center">
                    <p>${data.sender}</p>
                    <p class="bg-accent p-2 rounded w-1/2">${data.message}</p>
                    </div> 
                `;
                messages.appendChild(message);
                };
            }
        }

        if(window.location.href.indexOf("chat") > -1) {
            const WebsocketKeys = parseMap('{{.PageData.WebsocketKeys}}');

            const chattingWith = '{{.PageData.TargetUser}}';
            const user = '{{.PageData.User.Username}}'

            // sort the users so that the key is always the same 
            const mapKey = Array.from([user, chattingWith]).sort().join(",");
            // get the websocket key
            WebsocketKeys.forEach((key)=>{
                const url = `ws://${window.location.host}/ws/${key}`;
                createWebSocket(url, chattingWith);
            })
        };

    </script>
{{end}}





