{{define "chat" }}
    <div class="flex-1 flex flex-col">
        {{if gt (len .TargetUser)  0}}
            <div class="border-b py-8 px-4 flex items-center h-fit">
                Chatting with {{.TargetUser}}
            </div>

            <div class="bg-black p-6 grid gap-6 self-end w-full">
                {{range .Messages}}
                    {{template "message" .}}
                {{end}}
                <div id="latest-message"></div> 
                {{template "form" .FormData}}
            </div>
        {{end}}
    </div>
{{end}}



{{block "message" .}}
    {{if .RecipientMessage}}
        <div class="flex gap-4 items-center">
            <p>{{.Sender}}</p>
            <p class="bg-accent p-2 rounded w-1/2">{{.Content}}</p>
        </div> 
    {{else}}
        <div class="flex gap-4 items-center justify-end">
            <p class="bg-primary
            p-2 rounded w-1/2">{{.Content}}</p>
            <p>{{.Sender}}</p>
        </div>
    {{end}}
{{end}}

