{{define "title"}}
    Home
{{end}}

{{define "content"}}

<div class="w-full h-full p-16 grid place-items-center">
    <div class="bg-primary w-full h-full border-2 border-black rounded-lg flex flex-col">
            <div class="flex border-b items-center px-2 py-4">
                <input type="text" class="w-full p-2 border-2 border-black rounded-lg" placeholder="Search friends..." />
                <button id="searchBtn">Add Users</button>
            </div>
            <div class="flex flex-1">
                <div class="border-r flex flex-col">
                    <div class="border-b p-4 flex items-center">
                        <p>pfp</p>
                        <h2 class="p-4 flex items-center">{{.User.Username}}</h2>
                    </div>
                    <div class="flex-1 overflow-y-auto">
                        <ul class="p-0 list-none">
                            {{range .Users}}
                                <li>
                                    <a href="/chat/{{.}}" class="flex items-center gap-2 p-4 w-full text-sm">{{.}}</a>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

                {{template "chat" .}}

    </div>

</div>
{{template "search-modal"}}
{{end}}


{{define "search-modal"}}
    <dialog id="search-modal" class="fixed top-0 left-0 inset-0 w-screen h-screen bg-black bg-opacity-50 z-50 p-0 m-0 max-w-none max-h-none open:grid open:justify-items-center">
        <div class="self-center p-4 bg-slate-300 rounded-lg w-3/4 grid gap-4">
            <input hx-trigger="keyup changed" name="q" hx-get="/search" hx-target="#search-results" autofocus class="p-4 border-2 rounded-lg w-full" type="text" name="search" placeholder="Search for users..." />
            <div id="search-results">
            </div>
        </div>
    </dialog> 
{{end}}