{{define "title"}}
    Home
{{end}}

{{define "content"}}

<div class="w-full h-full">
    
    <div class="grid grid-cols-[300px_1fr] overflow-y-auto border border-border rounded-lg h-full">
        <div class="bg-muted/20 border-r border-border p-2 h-full overflow-y-hidden flex flex-col">
            <div class="flex justify-between items-center space-x-4 pb-3 flex-shrink-0">
                <p class="p-2 font-medium">Chat App</p>
                <!--<a target="_blank" href="https://icons8.com/icon/132/search">Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
                <button id="searchBtn">
                    <img src="/assets/images/search.png" class="w-6 h-6"/>
                </button>
            </div>
            <ul class="list-none flex-1 overflow-y-auto">
                {{range .PageData.Users}}
                    <a href="/chat/{{.}}" class="flex items-center gap-4 p-2 rounded-lg hover:bg-muted/50">
                        <img src ="/assets/images/user.jpg" class="w-12 h-12 rounded-full bg aspect-square bg-primary" />
                        <div class="grid gap-1">
                            <p class="font-medium leading-none">{{.}}</p>
                            <p class="text-sm text-muted-foreground">Hey, what's going on?</p>
                            <p class="text-sm text-muted-foreground">2m</p>
                        </div>
                    </a>
                {{end}}
            </ul>
        </div>

        {{template "chat" .}}

</div>
{{template "search-modal"}}
{{end}}


{{define "search-modal"}}
    <dialog id="search-modal" class="fixed top-0 left-0 inset-0 w-screen h-screen bg-black bg-opacity-50 z-50 p-0 m-0 max-w-none max-h-none open:grid open:justify-items-center">
        <div class="self-center p-4 bg-slate-300 rounded-lg w-3/4 grid gap-4">
            <input hx-trigger="keyup changed" name="q" hx-get="/search" hx-target="#search-results" autofocus class="p-4 border-2 rounded-lg w-full" type="text" name="search" placeholder="Search for users..." />
            <div id="search-results">
            </div>
        </div>
    </dialog> 
{{end}}