<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
    <script src="/assets/main.js" defer></script>
    <title>{{template "title" .}}</title>
</head>

<body class="text-white bg-background flex flex-col">
    <header class="grid bg-zinc-800 p-4 w-full grid-cols-2 items-center h-[7vh]">
        {{if .Username}}
            <p class="justify-self-start">Welcome {{ .Username }}</p>
            <a class="justify-self-end" href="logout">Log Out</a>
        {{ else }}
            <ul class="flex gap-2 justify-self-end col-span-2">
                <a href="login"><li>Login</li></a>
                <a href="register"><li>Register</li></a>
            </ul>
        {{end}}
    </header>

    <main class="flex flex-col gap-2 justify-center items-center h-[93vh] overflow-hidden">
        {{template "content" .}}
    </main>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
</body>

</html>