<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{template "title" .}}</title>
</head>
<body>
    <header class="flex justify-between items-center bg-zinc-800 flex-wrap p-4">
        <ul>
            <li>item</li>
        </ul>
    </header>

    <main class="grid place-items-center h-screen">
        {{template "content" .}}
    </main>
</body>
</html>