{{define "title"}}
    Register
{{end}}

{{define "content"}}

    {{template "register-form" .FormData}}

{{end}}

{{block "register-form" .}}

    <form method="POST" hx-post="/register" hx-swap="outerHTML" class="flex flex-col gap-2 text-black">
        <h1 class="text-center text-text">Register</h1>
        {{if .Values.PreviousUsername}}
            <input name="username" class="p-2 rounded-lg" type ="text" placeholder="username" value="{{.Values.PreviousUsername}}">
        {{else}}
            <input name="username" class="p-2 rounded-lg" type ="text" placeholder="username">
        {{end}}
        <input name="password1" class="p-2 rounded-lg" type="password" placeholder="password">
        <input name="password2" class="p-2 rounded-lg" type="password" placeholder="repeat password">
        <button class="bg-zinc-800 text-text" type="submit">Register</button>
        {{if .Error}}
            <p class="bg-red-900 text-white text-center p-2 rounded-md">{{ .Error }}</p>
        {{end}}

    </form>

{{end}}