{{block "form" .}}
    <form id="message-form" 
    hx-post="/send-message"
    hx-swap="outerHTML" 
    class="flex w-full items-center space-x-2 p-2 justify-center">
        <input class="h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm placeholder:text-muted-foreground flex-1"
            placeholder="Type your message here..." 
            name="chat-message">
        <button type="submit" class="w-fit bg-primary text-primary-foreground p-2 rounded-lg">Send</button>
        <input type="hidden" name="target-user" value={{.TargetUser}}>
    
        {{if .Error}}
            <div id="error-message" class="grid place-content-center w-full">
                <p class="text-center w-fit bg-red-900 p-2">{{.Error}}</p>
            </div>
        {{end}}
    </form>
{{end}}
