{{block "message" .}}
    {{if .RecipientMessage}}
        <div class="flex">
            <p class="bg-[#202025] w-max max-w-[60%] rounded-full px-4 py-2">{{.Content}}</p>
        </div>
    {{else}}
        <div class="flex">
            <p class="bg-primary text-primary-foreground w-max max-w-[60%] rounded-full px-4 py-2 ml-auto">{{.Content}}</p>
        </div>
    {{end}}
{{end}}

{{block "oob-message" .}}
    <div id="messages" hx-swap-oob="beforeend">
        {{if .RecipientMessage}}
            <div class="flex">
                <p class="bg-[#202025] w-max max-w-[60%] rounded-full px-4 py-2">{{.Content}}</p>
            </div>
        {{else}}
            <div class="flex">
                <p class="bg-primary text-primary-foreground w-max max-w-[60%] rounded-full px-4 py-2 ml-auto">{{.Content}}</p>
            </div>
        {{end}}
    </div>
{{end}}